policy "deny file_open on /home/hntr/test.txt for uid 1000 at system DEFCON 2 or lower"
deny
    action == "file_open";
    subject.uid == 1000;
    resource.path == "/home/hntr/test.txt";
    command == "cat";
    system.defcon <= 2;
